// @import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Knewave&family=Oswald&display=swap");

.page-custom-font {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 50px;
}

.big-font {
  font-size: 50px;
}

.font-1 {
  font-family: "Knewave", cursive;
}

.font-2 {
  font-family: "Oswald", sans-serif;
}

h6 {
  padding: 0;
  margin: 0;
}
